{% extends "base.html" %}

{% block content %}
<h1>Welcome {{ user.first_name }}!</h1>

<hr>

<div>
<h4>Your weekly chore schedule</h3>
<ul>
    {% for assignment in assignments %}
    <li>
       {{ assignment }}
    </li>
    {% endfor %}
</ul>
</div>

<hr>

<div>
{% if open_instances %}
<h4>Submit a chore</h3>
    <form action="{% url 'submit_chore_instance' %}"
            method="post"
            enctype="multipart/form-data">
        {% csrf_token %}

        <div class="form-group">
            <label for="id_instance" class="sr-only">Chore instance</label>
            <select name="instance" id="id_instance" class="form-control">
                <option value="">
                {% for x in open_instances %}
                <option value="{{ x.id }}">
                    {{ x }}
                </option>
                {% endfor %}
            </select>
        </div>

        <div class="form-group">
            <label for="id_notes" class="sr-only">Notes</label>
            <input name="notes" id="id_notes" class="form-control" placeholder="Notes">
        </div>

        <div class="form-group">
            <label for="id_image" class="sr-only">Select images</label>
            <input type="file" name="image" multiple="" accept="image/*" id="id_image">
        </div>

        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
{% else %}
<h4>No chores available for submission</h4>
{% endif %}
</div>

<hr>

<div>
<h4>Recent submissions</h3>
{% if recent_submissions %}
<ul>
    {% for instance in recent_submissions %}
    <li>
        {{ instance }}
    </li>
    {% endfor %}
</ul>
{% else %}
<p>No chore submissions ever... maybe you should complete a chore :|</p>
{% endif %}
    
</div>
<hr>

{% endblock %}
